$fontLight: 'open_sanslight', Georgia, 'Times New Roman', Times, serif;
$fontBold: 'open_sanssemibold', Georgia, 'Times New Roman', Times, serif;

$colorLightViolet: #7c6aa2;
$colorDarkViolet: #4e3f7c;
$colorLinkBlue: #3592bc; 
$colorOrange: #fa8a00;
$colorGreen: #6fd12d;



